[submodule "src/bash-it"]
	path = src/bash-it
	url = https://github.com/Kuanlin/bash-it
[submodule "src/oh-my-zsh"]
	path = src/oh-my-zsh
	url = https://github.com/Kuanlin/oh-my-zsh
[submodule "src/powerline"]
	path = src/powerline
	url = https://github.com/Lokaltog/powerline

[submodule "src/powerline-fonts"]
	path = src/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
